
*.bin
panorama/layout/custom_game/*.vxml_c
panorama/styles/custom_game/*.vcss_c
panorama/scripts/custom_game/*.vjs_c
/scripts/vscripts/bots
/panorama/images/items/*.vtex_c
/panorama/images/items/*.vxml_c
/panorama/images/heroes/*.vtex_c
/panorama/images/heroes/*.vxml_c
panorama/images/custom_game/end/*.vtex_c
panorama/images/custom_game/end/*.vxml_c
/.tool/reference
panorama_debugger.cfg
resource/custom_game_whitelist.txt
/node_modules
src/content/
src/game/
panorama/images/custom_game/afdian.vxml_c
soundevents/hero_artoria.vsndevts_c
panorama/images/custom_game/golden_crown_png.vtex_c
panorama/images/custom_game/golden_crown.vxml_c
panorama/images/custom_game/golden_crown_grey_png.vtex_c
panorama/images/custom_game/golden_crown_grey.vxml_c

game/models/heroes/
game/materials/heroes/

game/panorama/images/heroes/
game/panorama/images/spellicons/
game/panorama/videos/heroes/
game/particles/units/heroes/
game/soundevents/voscripts/
game/sounds/vo/
game/materials/vgui/hud/
game/panorama/layout/custom_game/
game/panorama/scripts/custom_game/
game/panorama/styles/custom_game/
game/resource/custom_game_whitelist.txt
game/soundevents/
game/soundevents/game_sounds_heroes/
game/soundevents/voscripts/
